
* {
    box-sizing: border-box;
  }
  
  body {
      background-color:aquamarine;
      display: flex;
      justify-content: center;
  }
  
  .container {
      overflow: hidden;
      position: absolute;
      text-align: center;
      justify-content: center;
      flex-wrap: wrap;
      height: 1080px;
      width: 100%;
      
  }
  
  .nav {
      background-color: rgb(57, 166, 240);
      position:absolute;
      width: 80%;
      height: 65px;
      display: flex;
      border-radius: 20px;
      margin: 80px;
      left: 5%;
      top: 0%;
  } 

  .nav button {
      background-color: rgba(255,255,255,0);
      border: none;
      
  }

  .nav button img{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: none;
      margin: 0px 15px;
  }

  .buttons{
      position: absolute;
      left: 200px;
      top: 60%;
  }
  
  .buttons button{
      font-size: large;
      font-weight: bold;
      margin: 0px 30px; 
  }

  .buttons button:hover{
      cursor: pointer;
      border: 1px solid black;
  }

  .search{
    position: absolute;
    left: 67%;
    top: 20%;
  }

  .search input{
      height: 35px;
      border-radius: 20px;
      width: 270px;
      text-align: end;
      padding: 0px 10px;
  }

  .menu ul li button:hover{
      cursor: pointer;
      font-weight: bold;
  }

  
  span {
      font-weight: bold;
      padding: 5px;
  }
  
  .menu {
      float: left;
      background-color: rgba(255, 255, 255, 0.6);
      margin: 10px;
      width: 60%;
      position: relative;
      top: 7%;
      height: fit-content;
      left: 19%;
  }
  
  .menu ul {
      list-style: none;
  }
  
  .menu ul li{
      width: 300px;
      text-align: left;
      margin: 0px 25px;
  }
  
  .menu ul li button {
      font-size: medium;
      font-style: italic;
  }
  
  .menu ul a {
      position: absolute;
      left: 5%;
      font-size: large;
  }
  
  .menu button {
      background: none;
      background-color: rgba(255,255,255,0);
      border: none;
  }
  
  .lineBtwn {
      position: relative;
      display: inline-block;
      margin: 5px;
      width: 80%;
      border-bottom: 1px solid grey;
  }
  
  .main {
      background-color: rgb(147, 99, 242);
      border: 3px solid white;
      position: absolute;
      text-align: left;
      top: 40%;
      float: left;
      padding: 20px;
      width: 100%;
      display: none;
      
  }
  
  .personalInfo {
      position: absolute;
      left: 300px;
      top: 15%;
  }
  
  .personalInfo img {
      width: 100px;
      height: 100px;
      border-radius: 50px;
  }
  
  .main button {
      background: none;
      background-color: rgba(255,255,255,0);
      border: none;
  }
  
  .register {
      position: relative;
      top: 40%;
      background-color: rgba(255, 255, 255, 0.6);
      width: 350px;
      height: fit-content;
      display: none;
      grid-auto-columns: 1fr 2fr;
  }
  
  .register label {
      font-style: italic;
      font-size: medium;
      margin: 10px;
  }
  
  .register input {
      width: 200px;
      height: 25px;
      padding: 5px;
      margin: 0px 50px;
  }
  
  .register button {
      background: none;
      border: none;
      margin: 20px;
      padding: 5px;
  }
  
  /* .anPer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      position: relative;
      flex-wrap: wrap;
      margin: 20px;
      left: 30%;
  
  }
  
  .anPer input {
      background-color: rgba(255, 255, 255, 0.8);
      border: none;
      border-radius: 25px;
      height: 25px;
      margin: 5px;
  }
  
  .anPer button {
      margin: 10px;
  } */
  
  .menuIcon {
      width: 90%;
      height: 5px;
      background-color: black;
      margin: 6px 0px;
      position: relative;
      left: 5%;
      display: none;
  }
  
  @media only screen and (max-width: 450px) {
      
      .container {
          width: 100%;
          display: flex;
          position: absolute;
          top: 10%;
      }
  
  
      .nav {
          position: absolute;
          width: 100%;
          max-width: 340px;
          top: 5%;
      }
  
      .nav input {
          border: 0px;
          border-radius: 20px;
          width: 250px;
          height: 30px;
          
      }
  
      .menuIcon {
          display: block;
          position: absolute;
          top: 35%;
      }
  
      .search button {
          position: absolute;
          top: 73px;
          left: 65%;
      }
  
      .main {
          width: 100%;
          max-width: 400px;
      }
  
      .main ul {
          width: 100%;
          max-width: 330px;
          left: 0px;
      }
  
  
      .personalInfo {
          position: absolute;
          left: 250px;
          top: 15%;
      }
  
  }
  
  
  @media only screen and (max-width: 850px)  and (min-width: 451px) {
      
      .nav {
          position: absolute;
          width: 100%;
          max-width: 340px;
          top: 5%;
      }
  
      .nav input {
          border: 0px;
          border-radius: 20px;
          width: 300px;
          height: 40px;
          
      }
  
      .menuIcon {
          display: block;
          position: absolute;
          top: 35%;
      }
  
      .search button {
          position: absolute;
          top: 77px;
          left: 73%;
      }
      
      .container {
          width: 100%;
          position: relative;
          
      }
  
      .main {
          width: 100%;
          max-width: 800px;
      }
  
      .main ul {
          width: 100%;
          max-width: 330px;
          left: 0px;
          position: absolute;
          left: 10%;
      }
  
  
  }
  
  .backBtn {
      position: absolute;
      left: 85%;
  }
  
  .backBtn img {
      width: 30px;
      height: 30px;
  }
  
  #PhoneNumbers tr td {
      padding: 10px 20px;
  }
  
  #image {
      width: 35px; 
      height: 35px; 
      border-radius: 50px;
  }
  
  #imagebtn {
      width: 25px; 
      height: 25px; 
      border-radius: 50px;
  }
  